In [3]:
# Load libs:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from glob import glob
from os.path import dirname, abspath, join, exists

from sklearn import linear_model

In [4]:
# Loading data
PROJECT_DIR = dirname((abspath('')))
AMPLIFY_DIR = abspath(join(PROJECT_DIR, "amplify"))
sys.path.append(AMPLIFY_DIR)

from DataGeneration import DataGenerator

In [11]:
# Data generator
data_generator = DataGenerator(use_local_data=True)

In [12]:
# Load data
load_success, building_data, weather_data = data_generator.LoadData()
if load_success:
    print("Successfully loaded data...")
else:
    print("Failed to load data...")

/Users/christianwelling/Fourthbrain/Fourthbrain/fourthbrain_venv/lib/python3.8/site-packages/pysolar/radiation.py:50: RuntimeWarning: overflow encountered in exp
  return flux * math.exp(-1 * optical_depth * air_mass_ratio) * is_daytime
/Users/christianwelling/Fourthbrain/Fourthbrain/fourthbrain_venv/lib/python3.8/site-packages/pysolar/radiation.py:50: RuntimeWarning: invalid value encountered in multiply
  return flux * math.exp(-1 * optical_depth * air_mass_ratio) * is_daytime

Failed to load data...

In [9]:
building_data.head()

,solar,usage,solar,usage,solar,usage,solar,usage,solar,usage,solar,usage,solar,usage,solar,usage,solar,usage
,True Power (kW),True Power (kW),Total Energy (kWh),Total Energy (kWh),Reactive Energy (kVARh),Reactive Energy (kVARh),Reactive Power (kVAR),Reactive Power (kVAR),Apparent Power (kVA),Apparent Power (kVA),Apparent Energy (kVAh),Apparent Energy (kVAh),dPF,dPF,aPF,aPF,Current (A),Current (A)
Timestamp,,,,,,,,,,,,,,,,,,
2022-01-10 05:00:00+00:00,NaN,12.8,358396.1,-613740.4,1961.4,68348.8,NaN,-2.9,-0.2,13.8,236341.4,-445647.3,0.1,-0.9,0.1,-0.8,2.5,111.6
2022-01-10 04:00:00+00:00,NaN,16.3,358396.2,-613753.4,1961.5,68351.8,NaN,-2.9,-0.3,17.4,236341.7,-445662.2,0.1,-0.4,0.1,-0.4,2.7,140.1
2022-01-10 03:00:00+00:00,NaN,24.7,358396.3,-613770.1,1961.6,68352.3,NaN,1.3,-0.3,25.4,236342.1,-445684.2,0.1,0.3,0.1,0.3,2.8,205.0
2022-01-10 02:00:00+00:00,NaN,19.1,358396.4,-613794.8,1961.7,68353.3,NaN,-2.8,-0.3,20.0,236342.4,-445708.5,0.1,-0.5,0.1,-0.5,2.9,161.4
2022-01-10 01:00:00+00:00,NaN,26.2,358396.5,-613814.0,1961.8,68354.6,NaN,-2.8,-0.3,27.0,236342.8,-445729.9,0.1,-0.5,0.1,-0.5,3.0,218.2

In [10]:
weather_data.head()

,temp,pressure,humidity,clouds_all,irradiance,irridance
index,,,,,,
2021-10-19 04:00:00+00:00,10.07,1017.0,66.0,20.0,0.0,0.0
2021-10-19 05:00:00+00:00,9.51,1017.0,70.0,20.0,0.0,0.0
2021-10-19 06:00:00+00:00,9.28,1017.0,71.0,20.0,0.0,0.0
2021-10-19 07:00:00+00:00,9.12,1017.0,72.0,20.0,0.0,0.0
2021-10-19 08:00:00+00:00,9.12,1017.0,73.0,20.0,0.0,0.0